.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero > img {
    border-radius: 50%;
    height: 400px;
    margin-top: 60px;
}

.hero h1 {
    text-align: center;
    width: 70%;
    font-size: 60px;
    font-weight: 600;
}

.hero h1 span {
    background: linear-gradient(267deg, #BB86FC 0.36%, #03DAC5 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.hero-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect {
    padding: 25px 75px;
    border-radius: 50px;
    background: linear-gradient(267deg, #BB86FC 0.36%, #03DAC5 102.06%);
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid transparent;
}

.hero-resume {
    padding: 25px 75px;
    border-radius: 50px;
    border: 1px solid #FFF;
    cursor: pointer;
    transition: 0.5s;
}

.hero-resume a {
    text-decoration: none;
    color: inherit;
}

.hero-resume a:hover {
    text-decoration: none;
}

.hero-connect:hover {
    transform: scale(1.05);
    background: linear-gradient(267deg, #03DAC5 0.36%, #BB86FC 102.06%);
    border-color: white;
    background-position: right;
}

.hero-resume:hover {
    transform: scale(1.05);
    border-color: #BB86FC;
}