.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.portfolio-title {
    position: relative;
}

.portfolio-title h1 {
    padding: 0 30px;
    text-align: center;
    font-size: 80px;
    font-weight: 600;
}

.portfolio-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.project-format {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}

.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.project-format h3 {
    font-size: 28px;
    font-weight: 600;
}

.project-format h2 {
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(267deg, #BB86FC 0.36%, #03DAC5 102.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-format p {
    color: #d4d4d4;
    font-size: 20px;
    line-height: 30px;
    max-width: 300px;
}

.project-btn {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.show-more-btn {
    border: 2px solid white;
    font-size: 28px;
    font-weight: 800;
    border-radius: 40px;
    padding: 20px 50px;
    margin-bottom: 80px;
    transition: 0.4s;
    cursor: pointer;
}

.show-more-btn:hover {
    transform: scale(1.05);
}

@media (min-width: 768px) {
    .project-format:hover {
        border: 2px solid #BB86FC;
        background-image: linear-gradient(267deg, #352649 0.36%, #004e46 102.06%);
        transform: scale(1.05);
        transition: 0.4s;
    }
}

@media (max-width: 768px) {
    .portfolio-container {
        gap: 30px;
        margin: 30px 50px;
        align-items: start;
    }

    .portfolio-title h1 {
        font-size: 50px;
        padding: 0;
    }

    .portfolio-title img {
        width: 130px;
        right: -20px;
    }

    .portfolio {
        grid-template-columns: 1fr;
    }

    .project-format {
        padding: 20px;
    }

    .show-more-btn {
        margin-left: 45px;
    }
}