.marquee-container {
    display: flex;
    overflow: hidden;
    padding: 20px;
}

.marquee-content {
    display: flex;
    gap: 60px;
    animation: scroll 20s linear infinite;
    transition: transform 0.5s ease;
    white-space: nowrap;
}

.marquee-content.paused{
    animation-play-state: paused;
}

.item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    width: 150px;
    transition: transform 0.5s;
    cursor: pointer;
    border: 1px solid #BB86FC;
    background-color: #161513;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

.item:hover {
    transform: scale(1.15);
}

.item img {
    width: 80px;
    height: 80px;
    margin-bottom: 8px;
}

.label {
    color: white;
    font-size: 24px;
    text-align: center;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-50% - 30px))
    }
}

@media (max-width: 768px) {
    .marquee-container {
        width: 100%;
    }
}