.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.contact-title {
    position: relative;
}

.contact-title h1 {
    padding: 0 30px;
    text-align: center;
    font-size: 80px;
    font-weight: 600;
}

.contact-title img {
    width: 60%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.contact-section {
    display: flex;
    gap: 150px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1 {
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(267deg, #BB86FC 0.36%, #03DAC5 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p {
    max-width: 550px;
    color: #D8D8D8;
    font-size: 20px;
    line-height: 35px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D8D8D8;
    font-size: 22px;
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.contact-right label {
    color: #D8D8D8;
    font-size: 22px;
    font-weight: 500;
}

.contact-right input {
    border: none;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 20px;
}

.contact-right textarea {
    width: 670px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 20px;
}

.contact-submit {
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(267deg, #BB86FC 0.36%, #03DAC5 102.06%);
    font-size: 24px;
    font-weight: 500;
    padding: 20px 60px;
    margin-bottom: 50px;
    transition: 0.5s;
    cursor: pointer;
    border: 2px solid transparent;
}

.contact-submit:hover {
    transform: scale(1.05);
    background: linear-gradient(267deg, #03DAC5 0.36%, #BB86FC 102.06%);
    border-color: white;
    background-position: right;
}

.submit-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact-submit {
    background-color: #4CAF50;
    margin-top: 30px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.recaptcha-submit {
    margin-bottom: 20px;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #4CAF50;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    margin-left: 10px;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@media (max-width: 768px) {
    .contact {
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }

    .contact-title h1 {
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }

    .contact-title img {
        width: 130px;
        margin-right: -20px;
    }

    .contact-section {
        flex-direction: column;
    }

    .contact-left h1 {
        font-size: 54px;
    }

    .contact-left p {
        font-size: 18px;
    }

    .contact-details {
        gap: 20px;
    }

    .contact-detail img {
        width: 25px;
    }

    .contact-right label {
        font-size: 20px;
    }

    .contact-right input {
        width: 100%;
        font-size: 20px;
    }

    .contact-right textarea {
        width: 95%;
        font-size: 20px;
    }

    .contact-submit {
        font-size: 20px;
        padding: 15px 40px;
    }
}