.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 24px;
}

.nav-menu li {
    cursor: pointer;
    color: white;
    background: linear-gradient(267deg, #BB86FC 0.36%, #03DAC5 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    transition: color 1s ease, -webkit-text-fill-color 1s ease, background-position 0.5s ease, transform 0.5s ease;
}

.nav-menu li:hover {
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-position: right;
    transform: scale(1.05);
}

.nav-connect {
    padding: 30px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #BB86FC 0.36%, #03DAC5 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s ease;
    border: 2px solid transparent;
}

.nav-connect:hover {
    transform: scale(1.05);
    background: linear-gradient(267deg, #03DAC5 0.36%, #BB86FC 102.06%);
    background-position: right;
    border-color: white;
}