.footer {
    display: flex;
    flex-direction: column;
}

.icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: linear-gradient(pink, blue);
    gap: 80px;
}

.socmed-icon {
    margin-bottom: 50px;
}

.socmed-icon img {
    width: 10vh;
    transition: 0.5s;
}

.copyright {
    text-align: center;
    font-size: 30;
    font-weight: 600;
}

.socmed-icon img:hover {
    transform: scale(1.3);
    text-shadow: 0 0 5px #ff0000;
}